#root .row {
  height: 100%;
}

header {
  height: 20vh;
  background-color: hsl(174deg 100% 29%);
}

img {
  max-width: 100%;
}

main {
  height: 80vh;
  background-color: hsl(90deg 8% 85%);
}

#root {
  background-color: white;
  height: 95vh;
  width: 80%;
  position: absolute;
  top: 20px;
}

/* SIDE CONTACTS  */

.sidecontacts {
  background-color: #fff;
  height: 100%;
}

.lista-contatti {
  overflow-y: scroll;
  flex-grow: 1;
}
.utente {
  padding: 10px;
  border: 1px solid hsl(0deg 0% 92%);
  border-right: 1px solid lightgray;
}

.utente.active {
  background-color: hsl(0deg 0% 92%);
}

.avatar-utente img {
  width: 60px;
  border-radius: 50px;
}

.opzioni-utente {
  font-size: 1.5rem;
  color: hsl(0deg 0% 69%);
}

.last-access {
  font-size: 0.8rem;
  margin-bottom: 0;
}

.notifiche {
  background-color: hsl(199deg 95% 77%);
  padding: 15px;
}

.notifications-icon {
  color: hsl(199deg 95% 77%);
  background-color: white;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  font-size: 1.4rem;
  padding: 12px;
  display: flex;
  align-items: center;
}

/* SEARCH  */

.search {
  background-color: hsl(0deg 0% 98%);
}

#search-button {
  color: gray;
  background-color: white;
  border: 1px solid lightgray;
}

#search-button:hover {
  background-color: gray;
  color: white;
}

/* CONTATTI  */

.contact-timestamp {
  align-self: flex-start;
  font-size: 0.9rem;
}

/* MAIN CHAT  */

.mainchat {
  background-color: aquamarine;
  height: 100%;
  background-image: url(../img/mine.jpg);
  background-repeat: repeat;
  /* overflow-y: scroll; */
}

.chat-area {
  overflow-y: scroll;
  height: 100%;
  padding: 50px;
}

.message {
  background-color: hsl(94deg 84% 85%);
  padding: 10px 0 0 20px;
  border-radius: 10px;
  width: fit-content;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.message.received {
  background-color: #fff;
  margin-left: 30px;
}

.message.sent {
  background-color: hsl(94deg 84% 85%);
  margin-left: auto;
  margin-right: 30px;
}

.message-timestamp {
  font-size: 0.7rem;
  align-self: flex-end;
  padding-right: 10px;
}

/* INPUT BAR  */

.input-bar {
  height: 80px;
  background-color: hsl(27deg 27% 94%);
  margin-top: auto;
}

.input-bar .icon {
  font-size: 2rem;
  color: gray;
}
